<div id="page-wrapper">
  <%= render 'page_title', title: "Show Board" %>

  <p id="notice"><%= notice %></p>

  <form class="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @board.name %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Trello Id</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @board.trello_id %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">URL</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @board.url %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Cards Count</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @board.cards_count %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Sync Date</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @board.last_sync_date %></p>
      </div>
    </div>
  </form>

  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
</div>
