<div id="page-wrapper">
  <%= render 'page_title', title: "Trello Cards" %>
  <div class="row">
    <div class="col-md-12>"
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Trello</th>
              <th>Url</th>
              <th>Board</th>
              <th>Points</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cards.each do |card| %>
              <tr>
                <td><%= card.name %></td>
                <td><%= card.trello_id %></td>
                <td><%= card.trello_url %></td>
                <td><%= card.board_id %></td>
                <td><%= card.points %></td>
                <td><%= link_to 'Show', card %></td>
                <td><%= link_to 'Edit', edit_card_path(card) %></td>
                <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'New Card', new_card_path %>
</div>
