<div id="page-wrapper">
  <%= render 'page_title', title: "Show Card" %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @card.name %>
  </p>

  <p>
    <strong>Trello:</strong>
    <%= @card.trello_id %>
  </p>

  <p>
    <strong>Card No:</strong>
    <a href="<%= @card.trello_url %>" target="_blank"><%= @card.short_id %></a>
  </p>

  <p>
    <strong>Board:</strong>
    <%= @card.board_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= @card.points %>
  </p>

  <%= link_to 'Edit', edit_card_path(@card) %> |
  <%= link_to 'Back', cards_path %>
</div>
