<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Trello:</strong>
  <%= @card.trello_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @card.url %>
</p>

<p>
  <strong>Board:</strong>
  <%= @card.board_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @card.points %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
